:root {
  --Background: #f9f9f9;
  --Border: #C9A2FF;
  --Secondary: #C0D8E1;
  --Tertiary: #7100FF;
  --Alert: #F36565;
  --FontDark: #363636;
  --borderRadius: 10px;
  --Grey:#F0F0F0;
    height: auto;
  
  
}



body{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  font-family: 'Century-Gothic','Open Sans',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: var(--FontDark);
}


.App {
  text-align: center;
  max-width: 1200px;
  min-height: auto;
  padding: 10px  0px  ;
  margin: auto;
 
}



