
  

.form{
    min-height: 95vh;
    
    display: flex;
    flex-direction: column;
}


.formBox{
    margin-top: 5px;
    border: var(--Border) dashed 3px;
    border-radius: var(--borderRadius);
    padding: 20px;
    display: flex;
   
    flex-direction: column;
    flex-grow: 1;
}

.formHeader{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.formHeader div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.formHeader div h1,
.formHeader div h2,
.formHeader div h3,
.formHeader div h4,
.formHeader div h5,
.formHeader div h6,
.formHeader div p {
    margin: 0px;
    text-align: start;
}

.formHeader div:nth-child(1){
    display: flex;
    flex-direction: row;align-items: center;
    justify-content: space-between;
    gap:0px;
}

.formHeader div h3{
    color: var(--Tertiary);
    margin: 0px;

}

.toggleBoxGroup{
    display: flex!important;
    flex-direction: column!important;
    flex-grow: 1;
    gap:5px;
    
}

.toggleBoxGroup a{
    width: 100%;
    text-decoration: none;
}

.toggleBox{
    background-color: var(--Grey);
    border-radius: var(--borderRadius);
    padding: 20px;
    width: calc(100% - 40px);
    
    
    display: flex!important;
    height: 100%;
    flex-grow: 1!important;
    flex-direction: column!important;
    justify-content: start!important;
    align-items: start!important;
}

.toggleBox div{
    display: flex;
    flex-direction: row;
}

.gridForm{
    display: grid;
    gap: 10px;
    min-height: inherit;
    grid-template-columns: 1fr 1fr;
    
    position: relative;
    margin: auto;
    flex-grow: 1;
}


.formSpace{
    flex-direction: column;
    justify-content: space-between;
   
}

.formSpace div{
display:  flex!important;
flex-direction: column!important;
width: 100%;
align-items: start!important;
gap: 10px!important;
}

.formHolder{
    
    display: flex;
    flex-grow: 1;
    flex-direction: column;    
}

.formSpace h3{
    color: var(--FontDark)!important;
}

.formFields{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}


.formBottomBtn{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}


/* DND group*/


.dropGrid{

    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
}
.gridForm3{
    display: grid;
    gap: 10px;
    min-height: inherit;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    margin: auto;
    flex-grow: 1;
    margin-top: 5px;
    width: 100%;
}


.courseCard{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    text-align: start;
    z-index: 10;
}

.courseCard h5{
    color: var(--Tertiary);
}

.courseCard div{
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 5px;
    align-items: start;
    
}

.courseCard h5,
.courseCard h4,
.courseCard h6{
    margin: 0px;
    
}

.reqType{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.availableCourses{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.344);
    justify-content: start;
    box-shadow: none;
    border: dashed #5555551c 3px;
}


.cardHolder{
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: none;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 5px;
    
    
}

.cardHolder h5,
.cardHolder h6,
.showCore h4{
    user-select: none;
}


  
  /* Style scrollbar for Chrome, Safari, and Opera */
  .scrollable-div::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    
  }
  
  /* Track */
  .scrollable-div::-webkit-scrollbar-track {
    background: var(--Offwhite); /* Color of the track */
    border-radius: 5px;
    margin: 5px;
    
  }
  
  /* Handle */
  .scrollable-div::-webkit-scrollbar-thumb {
    background: var(--Secondary); /* Color of the handle */
    border-radius: 10px; /* Roundness of the handle */
  }
  
  /* Handle on hover */
  .scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the handle when hovered */
  }


.dropZone{
    
    display: flex;
    gap: 5px;
    flex-direction: column;
    min-height: 200px;
    border-radius: 10px;
    border: #55555528 dashed 3px;
    border-radius: 10PX;
    background-color: var(--Secondary);
    color: #55555528;
    flex-grow: 1;
    height: auto;
    max-height: 60.5vh;
    overflow-y: scroll;
    padding: 10px;
  }

  .dropGroup{
    background-color:transparent;
  
    
  }

.dropZoneText{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    
}

  /* Style scrollbar for Chrome, Safari, and Opera */
  .scrollable-div::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    
  }
  
  /* Track */
  .scrollable-div::-webkit-scrollbar-track {
    background: var(--Offwhite); /* Color of the track */
    border-radius: 5px;
    margin: 5px;
    
  }
  
  /* Handle */
  .scrollable-div::-webkit-scrollbar-thumb {
    background: var(--Tertiary); /* Color of the handle */
    border-radius: 10px; /* Roundness of the handle */
  }
  
  /* Handle on hover */
  .scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the handle when hovered */
  }

  
  .compulsory{
    gap:5px;
    color: black!important;
    display: flex;
    flex-direction: column;
    text-align: start;
    flex-grow: 1;
    background-color: var(--Grey);
    padding: 10px;
    border-radius: 10px;

    max-height: 60.5vh;
    overflow-x: hidden;
    overflow-y: scroll;
    border: none;
    
    display: flex;
    flex-direction: column;
    
  }

  .showCore{
    display: flex;
    padding: 10px;
    border: 3px solid var(--Border);
    /**box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;*/
    border-radius: 10px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    user-select: none;
  }

  .courseChoice{
    border: none;
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   
   display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .form3Header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    text-align: start;
  }

  .selectDrop {
    
  }
  .formHeader div:nth-child(1)  .selectDrop{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
  }

 .selectDrop .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border: solid 3px var(--Border);
 } 

 .selectDrop .css-1d3z3hw-MuiOutlinedInput-notchedOutline:hover{
  border: solid 3px var(--Border);
  
 }

 .modalContent{
  display: flex;
  flex-direction: column;
  gap: 10px;
 }
 .modalActions{
  display: flex;
  flex-direction: row;
  gap: 10px;
 }