:root {
    --Background: #f9f9f9;
    --Border: #c9a2ff82;
    --Secondary: #C0D8E1;
    --Tertiary: #7100FF;
    --FontDark: #363636;
}

body{
    font-family: 'Century-Gothic','Open Sans',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,  'Helvetica Neue', sans-serif;
    color: var(--FontDark);
    
    
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Assets/Images/dottedbg.svg');
    /* Adjust the path to match the location of your image file */
    opacity: 0.1; /* This sets the opacity of only the background image */
    z-index: -1; /* Ensure the pseudo-element stays behind other content */
}
.home{
    
    min-height: calc(100vh - 20px);
    padding: 0px;
}

/* Grid layout*/

.gridHome{
    display: grid;
    gap: 10px;
    min-height: inherit;
    grid-auto-rows: min-content 1fr 1fr;
    grid-auto-columns: 1fr 1fr 0.8fr;
}

.grid-item{
    border:var(--Border) 3px dashed;
    border-radius: 10px;
    
}

.grid-item1{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.grid-item4{
    grid-column-start:3 ;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    
}

.grid-itemNav{
    grid-column-start:1 ;
    grid-column-end:4 ;
    grid-row-start: 1;
    border:none;
}

/* Grid 1*/

.gridSplash{
    display: grid;
    gap: 10px;
    grid-auto-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.welcome{
    border: transparent;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: start;
    align-items: start;
    border-left: var(--Secondary) 10px solid;
    border-radius: 0px;
    padding-left:10px;
    text-align: start;
}

.welcome h1,h4,p{
    padding: 0px;
    margin:0px;
    margin-bottom: -2px;
    letter-spacing: -0.05em;
}

.welcome h1{
    font-weight: 700;
    
    color: var(--Tertiary);
}

.welcome img{
    margin: 0px;
    margin-top: -10px;
}

.welcome div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

}

.welcome div img{
    margin: auto;
}

.gridSplash .grid-item{
    border: none;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
}

.gridSplash .grid-item:nth-child(2) {
    border: none;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Grid 2*/
.regBox{
 background-color: var(--Secondary);
 height: calc(100% - 70px);
 margin: 5px;
 border-radius: 10px;
 padding: 30px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 10px;
}

.regBox h2,h4{
margin: 0px;
}
.regBox div h4{
    margin: 0px -10px;;
}


.regBoxBtn{
   padding: 40px 10px;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
}